$black: #021122;
/*background header*/

$navyblue: #282e5c;
/*frontpage headlines*/

$grey: #898a8d;
/*frontpage details*/

$lightgrey: #ebebeb;
/*frontpage footer bg*/

$yellow: #fc0;
/*underline yellow*/